* {
    font-size: 14px;
}
main{
height: auto;;
    background-color: linear-gradient(0deg, #b9afaf 0, #ffffff 100%);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
