<div>
    <h1 class="center">Details Chart</h1>
    <div class="header">
        <div>
            <!-- Select date range -->
            <mat-form-field class="field-width margin">
                <mat-label>Select date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate [(ngModel)]="fromDate" placeholder="Start date">
                    <input matEndDate [(ngModel)]="toDate" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <!-- search -->
            <button class="margin btn button-color" mat-raised-button (click)="getDayWiseSalesProfitChart()">
                Search
            </button>
            <button class="margin btn button-color" mat-raised-button (click)="clearSearch()">
                Clear Search
            </button>
        </div>
        <div>
            <button class="margin btn button-color" mat-raised-button>
                <mat-icon class="icon">cloud_download</mat-icon>
                Download
            </button>
        </div>
    </div>
    <div id="dashboardDetailsChart"></div>
</div>
