<div class="main-header">
    <h1 mat-dialog-title><b> {{ !this.data ? 'Add Account' : 'Update Account' }}</b> </h1>
    <button mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="container">
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="flex">
            <!-- user name start -->
            <div class="width margin-right">

                <mat-form-field>
                    <mat-label>User Name</mat-label>
                    <mat-select formControlName="userId" matInput required>
                        <mat-option *ngFor="let user of users" [value]="user.id">
                            {{user.user_name | titlecase }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div>
                    <ng-container *ngIf="
          formGroup.controls.userId.touched &&
          !formGroup.controls.userId.value
        ">
                        <span class="error">User name is Required</span>
                    </ng-container>
                </div>
            </div>
            <!-- mobile start -->
            <div class="width">
                <mat-form-field>
                    <mat-label>Bank Name</mat-label>
                    <input matInput formControlName="bankName" required />
                </mat-form-field>
                <div>
                    <ng-container *ngIf="
          formGroup.controls.bankName.touched &&
          !formGroup.controls.bankName.value
        ">
                        <span class="error">Bank Name is Required</span>
                    </ng-container>
                </div>
            </div>

        </div>
        <div class="flex">

            <div class="width margin-right">
                <mat-form-field>
                    <mat-label>Account Number</mat-label>
                    <input matInput formControlName="accountNumber" type="number" required />
                </mat-form-field>
                <div>
                    <ng-container *ngIf="
      formGroup.controls.accountNumber.touched &&
      !formGroup.controls.accountNumber.value
    ">
                        <span class="error">Account Number is Required</span>
                    </ng-container>
                </div>
            </div>
            <!-- balance start -->
            <div class="width">
                <mat-form-field>
                    <mat-label>Branch Name</mat-label>
                    <input matInput formControlName="branchName" type="text" required />
                </mat-form-field>
                <div>
                    <ng-container *ngIf="
          formGroup.controls.branchName.touched &&
          !formGroup.controls.branchName.value
        ">
                        <span class="error">Branch Name is Required</span>
                    </ng-container>
                </div>
            </div>

        </div>
        <div class="flex">

            <div class="width margin-right">
                <mat-form-field>
                    <mat-label>Confirm Account Number</mat-label>
                    <input matInput formControlName="accountNumber" type="number" required />
                </mat-form-field>
                <div>
                    <ng-container *ngIf="
          formGroup.controls.accountNumber.touched &&
          !formGroup.controls.accountNumber.value
        ">
                        <span class="error"> Confirm Account Number is Required</span>
                    </ng-container>
                </div>
            </div>
            <!-- balance start -->
            <div class="width">
                <mat-form-field>
                    <mat-label>Balance</mat-label>
                    <input matInput formControlName="balance" type="number" required />
                </mat-form-field>
                <div>
                    <ng-container *ngIf="
          formGroup.controls.balance.touched &&
          !formGroup.controls.balance.value
        ">
                        <span class="error">Balance is Required</span>
                    </ng-container>
                </div>
            </div>

        </div>
        <div class="flex">
            <!-- Account Holder Full Name start -->

            <div class="width margin-right">
                <mat-form-field>
                    <mat-label>Account Holder Full Name</mat-label>
                    <input matInput formControlName="accountHolderName" required />
                </mat-form-field>

                <div>
                    <ng-container *ngIf="
          formGroup.controls.accountHolderName.touched &&
          !formGroup.controls.accountHolderName.value
        ">
                        <span class="error">Account Holder Name is Required</span>
                    </ng-container>
                </div>
            </div>
            <!-- balance start -->
            <div class="width">
                <mat-form-field>
                    <mat-label>IFSC Code Name</mat-label>
                    <input matInput formControlName="ifscCode" type="text" required />
                </mat-form-field>
                <div>
                    <ng-container *ngIf="
          formGroup.controls.ifscCode.touched &&
          !formGroup.controls.ifscCode.value
        ">
                        <span class="error">IFSC Code is Required</span>
                    </ng-container>
                </div>
            </div>

        </div>
        <div class="flex">
            <!-- Account Type -->

            <div class="width margin-right">

                <mat-form-field>
                    <mat-label>Account Type</mat-label>
                    <input matInput formControlName="accountType" type="text" required />
                </mat-form-field>

                <div>
                    <ng-container *ngIf="
          formGroup.controls.accountType.touched &&
          !formGroup.controls.accountType.value
        ">
                        <span class="error">Account Type is Required</span>
                    </ng-container>
                </div>
            </div>
            <!-- balance start -->
            <div class="width">
                <mat-form-field>
                    <mat-label>Swift Code</mat-label>
                    <input matInput formControlName="swiftCode" type="text" />
                </mat-form-field>
            </div>

        </div>
        <!-- button start -->
        <div class="button-save-update center">
            <button mat-raised-button color="primary" [disabled]="!formGroup.valid || isShowLoader" type="submit"
                class="margin-right">
                <span *ngIf="!isShowLoader">
                    {{ !this.data ? 'Save' : 'Update' }}
                </span>
                <mat-spinner *ngIf="isShowLoader" class="inline-loader" diameter="20"></mat-spinner>
            </button>
            <button mat-raised-button color="warn">
                Close
            </button>
        </div>
    </form>
</div>
